body {
    background-color: Plum;
  }
  
  h1 {
    color: #2c1f2c;
    text-align: center;
  }
  
  p {
    color: #2c1f2c;
    /* font-family: verdana; */
    font-size: 20px;
    text-align: center;
  }

footer {
    color: #2c1f2c;
    text-align: center;
}